:root {
  --color-text1: #ffffff;
  --color-text2: #212121;
  --color-text3: #757575;
  --color-main1-footer: #2f303a;
  --color-main2: #f5f4fa;
  --color-logo: #2196f3;
  --black-: #000000;
  --btn-: #1766a7;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  background: var(--color-text1);
  font-family: "Roboto", sans-serif;
  color: var(--color-text2);
  font-size: 14px;
  letter-spacing: 0.03em;
}

.container {
  text-align: center;
  width: 1200px;
}

/* Start Header  */

nav .menu {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

header {
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  border: 0px 1px 0px 0px solid #ECECEC;
}

header .container {
  display: flex;
  justify-content: space-between;
}

.logo-nav {
  display: flex;
}

.log {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1;
  text-decoration: none;
  margin-right: 90px;
}

.logo {
  color: var(--color-logo);
}

.logo-one {
  color: var(--black-);
}

.logo-two {
  color: var(--color-text1);
}

.menu {
  list-style-type: none;
  display: flex;
}
.menu-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-text2);
  text-decoration: none;
}

.menu-item:hover {
  color: var(--color-logo);
}

.menu-item:focus {
  color: var(--color-logo);
}

.currentLink {
  color: var(--color-logo);
}

.menu-contact {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-text3);
  text-decoration: none;
  margin-left: 50px;
}

.menu-contact:hover {
  color: var(--color-logo);
}

.menu-contact:focus {
  color: var(--color-logo);
}

/* End Header  */

/* Start Main Index */

section {
  display: flex;
  justify-content: center;
}

.chapter-head {
  height: 600px;
  background-color: var(--color-main1-footer);
}

.chapter-head .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.chapter-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  color: var(--color-text1);
  text-transform: uppercase;
  width: 700px;
  margin-bottom: 30px;
}

.chapter-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: var(--color-text1);
  width: 216px;
  height: 50px;
  letter-spacing: 0.06em;
  background: var(--color-logo);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.chapter-btn:hover {
  background: var(--btn-);
}

.chapter-btn:focus {
  background: var(--btn-);
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  letter-spacing: 0.03em;
  color: var(--color-text2);
  margin-bottom: 50px;
}

.goals {
  display: flex;
  flex-direction: column;
}

.menu-goals {
  list-style-type: none;
  display: flex;
}

.menu-goals li {
  margin: 0 15px;
}

.menu-advan {
  list-style-type: none;
  display: flex;
}

.menu-advan li {
  margin: 0 15px;
  text-align: left;
}

.menu-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.menu-text-two {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--color-text3);
}

.menu-text-two-w {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: var(--color-text3);
  margin-bottom: 30px;
}

.menu-text-three {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-top: 30px;
  margin-bottom: 10px;
}

.chapter-end {
  background: var(--color-main2);
}

.worker {
  width: 270px;
  background: var(--color-text1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin: 0 15px;
}

.section {
  padding: 94px 0;
}
/* End Main Index */

/* Start Main Portfolio  */

.menu-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background: var(--color-main2);
  border-radius: 4px;
  border: none;
  margin: 0 4px;
}

.menu-btn:hover {
  background: var(--color-logo);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--color-text1);
}

.menu-btn:focus {
  background: var(--color-logo);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--color-text1);
}

.menu-text-p {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text2);
}

.menu-text-two-p {
  font-size: 16px;
  line-height: 1.87;
  color: var(--color-text3);
}

.wall {
  width: 370px;
  height: 404px;
  background: var(--color-text1);
  border: 1px solid #eeeeee;
}

.menu-port {
  list-style-type: none;
  display: flex;
  padding-bottom: 35px;
}

.menu-wall {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.port {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* End Main Portfolio  */

/* Start Footer  */

.ftr {
  background: var(--color-main1-footer);
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.ftr .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-addr {
  flex-direction: column;
  list-style-type: none;
  text-align: left;
  margin-top: 20px;
}

.menu-addr li {
  margin: 5px 0;
}

.menu-contact-f {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-text3);
  text-decoration: none;
}

.adres {
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  color: var(--color-text1);
  text-decoration: none;
}

/* End Footer  */
